.title
{
    display: block;
    width: 100%;
    height: 200px;
    color: red;
    text-align: center;
    padding-top: 50px;
    background-color: black;
}

.image
{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.image-left
{
    float: left;
}

.image-right
{
    float: right;
}