.title
{
    color: blue;
    text-align: center;
    background-color: red;
}

.image
{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.image-left
{
    float: left;
}

.image-right
{
    float: right;
}